{% extends "base.html" %}
{% block title %} Boggle {% endblock %}
{% block heading %} Boggle Game {% endblock %}
{% block body %}

    <table id="board">
        {% for row in game %}
        <tr>
            {% for ele in row %}
            <td>{{ ele }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

    <div class="form-container">
        <form>
            <input type="text" placeholder="Your Guess">
            <button>Submit</button>
        </form>
    </div>

{% endblock %}